<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | Forum Go</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/statics/styles/index.css">
    <link rel="stylesheet" href="/statics/styles/login.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4">
                <a class="blog-header-logo text-dark" href="/">ForumGo</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>

            </div>
            </div>
        </header>


        <div class="text-center fullscreen">
            <form class="form-signin" action="/login" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" name="psw">
                <p class="error-text">{{.}}</p>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>

              </form>
              or
              <div class="register">
                <a class="btn btn-lg btn-outline-secondary btn-block" href="/register">Register</a>
              </div>

              

        </div>
    </div>

<footer class="blog-footer">
    <p>Built by bodevone © 2020</p>
</footer>


</body>
</html>