<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Alibi">
    <title>Blog Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/statics/styles/index.css">
    <link rel="stylesheet" href="/statics/styles/login.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4">
                <a class="blog-header-logo text-dark" href="/">Forum</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="/login">Login</a>

            </div>
            </div>
        </header>

        <div class="text-center fullscreen">
            <form class="form-signin" action="/register" method="post" id="register-form">
                <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>

                <!-- <label for="inputEmail" class="sr-only">Email address</label> -->
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" name="email">

                <!-- <label for="inputUsername" class="sr-only">Username</label> -->
                <input type="text" id="inputUsername" class="form-control" placeholder="Username" required="" autofocus=""  name="username">

                <!-- <label for="inputPassword" class="sr-only">Password</label> -->
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""  name="password">

                <!-- <label for="inputPasswordAgain" class="sr-only">Password Again</label> -->
                <input type="password" id="inputPasswordAgain" class="form-control" placeholder="Password Again" required="" name="passwordAgain">

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="avatar" id="option1" autocomplete="off" value="1" checked> Barack
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="avatar" id="option2" autocomplete="off" value="2"> Saitama
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="avatar" id="option3" autocomplete="off" value="3"> Pepe
                  </label>
                </div>

                <p class="error" id="errorText">{{.}}</p>
                
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

              </form>
        </div>
    </div>

<footer class="blog-footer">
    <p>Built by bodevone © 2020</p>
</footer>

<script>
    var registerForm = document.getElementById('register-form');
    var errorText = document.getElementById('errorText')
    registerForm.onsubmit = function() {
      if (this.elements["password"].value != this.elements['passwordAgain'].value) {
        // alert("Password not match");
        errorText.textContent = "Passwords do not match"
        return false;
      }
      if (this.elements['username'].value.length < 3 || this.elements['password'].value.length < 5) {
        // alert('Username and password must has at least 6 characters');
        errorText.textContent = "Username or Password is too short"
        return false;
      }
      if (this.elements['username'].value == this.elements['password'].value) {
        // alert('Username must different password')
        errorText.textContent = "Password must be different from password"
        return false;
      }
    }
</script>

</body>
</html>